<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/signin.css">
    <link rel="stylesheet" href="/css/bootstrap-rtl.css" />
    <link rel="stylesheet" href="/css/font-awesome.css" />
    <title><%= pageTitle %></title>
</head>
<body class="d-flex align-items-center justify-content-center flex-column" style="background-color: rgba(128, 128, 128, 0.541);">
    <h1 >محصولتو بساز</h1>
    <div>
        <a href="/delete" class="btn btn-lg btn-outline-danger bt ">حذف محصول</a>
        <a href="/update" class="btn btn-lg btn-primary bt ">به روزرسانی محصول</a>
        <a href="/showproduct" class="btn btn-lg btn-info bt ml-1">مشاهده یک محصول</a>
        <a href="/showallproduct" class="btn btn-lg btn-success bt m-1" >مشاهده کل محصولات</a>
        <a href="/create" class="btn btn-lg btn-outline-primary bt">ساخت محصول</a>
    </div>

    
    <script src="/js/jquery.slim.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>   
</body>
</html>