<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/show.css">
    <link rel="stylesheet" href="/css/bootstrap-rtl.css" />
    <link rel="stylesheet" href="/css/font-awesome.css" />
    <title><%= pageTitle%></title>
</head>
<body class="rtl" style="background-color: gray;">
    <a href="/" class="btn btn-lg btn-primary bt">HOME PAGE</a>
    <div id="output" class="list">
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>  
    <script src="/js/showall.js"></script> 
</body>
</html>